body {
    font-family: "gaegu";
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #FFF6F5;
}

.bold-heading {
    font-weight:bolder;
    color: black;
}

header {
    color: #DAACB0;
    padding: 10px;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    margin: 0;
    text-align: center; /* Added to center the header text */
}

header h1 {
    margin: 0; /* Removes any default margin around h1 */
    margin-top: 50px;
    font-size: 50px;
    font-family: "cherry bomb one";
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: #DAACB0;
}

p {
   color: #717070;
}

section {
    margin-top: 10px;
    margin-bottom: 40px;
}

section article {
    background-color: white; 
    padding: 40px; 
    border-radius: 20px; 
    border: 2px solid #D5CBCA;
    /* box-shadow: 0px 0px 25px -10px rgba(130, 21, 21, 0.3);  */
    margin-bottom: 40px;
    line-height: 1.5; 
    width: 100%; 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

section article h2 {
    margin-top: 20px; 
}

section article p {
    margin-bottom: 50px; 
    line-height: 1.3; /* Adjust line height to control space between lines of text */
    white-space: pre-line;
}

figcaption {
    color: #DAACB0;
    line-height: 1.2;
    margin-top: 10px;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adds spacing between columns */
}

.image-grid figure {
    flex: 1 1 30%; /* Ensures three columns */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centers figcaption under images */
}

.image-grid img {
    width: 100%; 
    object-fit: cover; 
}
